{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}
{% load custom_blog_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}
{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% if page %}
        {% editable page.title %}{{ page.title }}{% endeditable %}
    {% else %}
        {% trans "Blog" %}
    {% endif %}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    {% if tag or category or year or month or author %}
        <li>{% spaceless %}
            {% if tag %}
                {% trans "Tag:" %} {{ tag }}
                {% else %}{% if category %}
                    {% trans "Category:" %} {{ category }}
                    {% else %}{% if year or month %}
                        {% if month %}{{ month }}, {% endif %}{{ year }}
                        {% else %}{% if author %}
                            {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
                        {% endif %}{% endif %}{% endif %}{% endif %}
        {% endspaceless %}
        </li>
    {% endif %}
{% endblock %}

{% block main %}
    <div id="primary" class="col-md-9">
    <div class="post-headline">
        <div class="randdm"> Popularne</div>
        Nowe wpisy
    </div>
    <div class="col-md-8 entrypart" role="main">
        {% if tag or category or year or month or author %}
            {% block blog_post_list_filterinfo %}
                <p>
                {% if tag %}
                    {% trans "Viewing posts tagged" %} {{ tag }}
                    {% else %}{% if category %}
                        {% trans "Viewing posts for the category" %} {{ category }}
                        {% else %}{% if year or month %}
                            {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
                            {{ year }}
                            {% else %}{% if author %}
                                {% trans "Viewing posts by" %}
                                {{ author.get_full_name|default:author.username }}
                            {% endif %}{% endif %}{% endif %}{% endif %}
            {% endblock %}
        </p>
        {% else %}
            {% if page %}
                {% block blog_post_list_pagecontent %}
                    {% if page.get_content_model.content %}
                        {% editable page.get_content_model.content %}
                            {{ page.get_content_model.content|richtext_filters|safe }}
                        {% endeditable %}
                        <a href="{{ blog_post.get_absolute_url }}" rel="bookmark">
                                        czytaj więcej...
                        </a>
                    {% endif %}
                {% endblock %}
            {% endif %}
        {% endif %}
        {% include "blog/post_list.html"  with posts_list=blog_posts.object_list %}

        {% pagination_for blog_posts %}

        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
            {% include "generic/includes/disqus_counts.html" %}
        {% endif %}
    </div>
    <div class="col-md-4 randomposts">
        {% block blog_post_list_post_title_featured %}
            {% most_popular as blog_posts %}
            {% for blog_post in blog_posts %}
                <article id="post-{{ blog_post.pk }}" class="post-{{ blog_post.pk }} post">
                    {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                        {% block blog_post_feature_list_post_featured_image %}
                            <a href="{{ blog_post.get_absolute_url }}">
                                <img class="attachment-large wp-post-image"
                                     src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 300 181 %}">
                            </a>
                        {% endblock %}
                    {% endif %}
                    <header class="post-header">
                        {% block blog_post_feature_list_post_metainfo %}
                            {% editable blog_post.publish_date %}
                                <div class="post-meta">
                                    {% with blog_post.categories.all as categories %}
                                        {% if categories %}
                                            {% trans "in" %}
                                            {% for category in categories %}
                                                <a href="{% url "blog_post_list_category" category.slug %}"
                                                   title="View all posts in Internet &amp; {{ category }}"
                                                   rel="category tag">{{ category }}</a>
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            {% endeditable %}
                        {% endblock %}
                        {% block blog_post_feature_list_post_title %}
                            {% editable blog_post.title %}
                                <h3 class="entry-title">
                                    <a href="{{ blog_post.get_absolute_url }}" rel="bookmark">
                                        {{ blog_post.title }}
                                    </a>
                                </h3>
                            {% endeditable %}
                        {% endblock %}
                    </header>
                </article>
            {% endfor %}
        {% endblock %}

        <!-- .entry-header -->
    </div>
    </div>

{% endblock %}

{% block right_panel %}
    {% include "blog/includes/filter_panel.html" %}
{% endblock %}


