{% load mezzanine_tags %}

{% nevercache %}
    <input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
    {% csrf_token %}
{% endnevercache %}

{% for field in form_for_fields %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        <p class="comment-form-{{ field.id_for_label }} {{ field.field.type }}
            {% if field.errors %} has-error{% endif %}">
            {% if field.label %}
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}
                    {% if field.field.required %}
                        <span class="required">*</span>
                    {% endif %}
                </label>
            {% endif %}
            {{ field }}
                    {% if field.errors %}
                <span class="help-block">
                    {% for e in field.errors %}
                        {% if not forloop.first %} / {% endif %}{{ e }}
                    {% endfor %}
                </span>
            {% endif %}
        </p>
    {% endif %}
{% endfor %}
