{% load i18n %}

{% if current_page.has_previous or current_page.has_next %}
    <div class="postnavigation">
        <ul>
            {% if current_page.has_previous %}
                <li class="prev previous">
                    <a {% if current_page.has_previous %}href="?{{ page_var }}=
                            {{ current_page.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}"{% endif %}>{% trans "« Previous Page" %}</a>
                </li>
            {% endif %}
            {% for page in current_page.visible_page_range %}
                <li{% if page == current_page.number %} class="active"{% endif %}>
                    <a href="?{{ page_var }}={{ page }}{% if querystring %}&{{ querystring }}{% endif %}">{{ page }}</a>
                </li>
            {% endfor %}
            {% if current_page.has_next %}
                <li class="next">
                    <a {% if current_page.has_next %}href="?{{ page_var }}=
                            {{ current_page.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}"{% endif %}>
                        {% trans "Next Page »" %}
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
{% endif %}
