{% load mezzanine_tags i18n future %}
<form action="{% url "search" %}" class="navbar-form navbar-right search-form" role="search">
    <label>
        <span class="screen-reader-text">Search for:</span>
        <input type="search" class="search-field" placeholder="Search …" value="{{ request.REQUEST.q }}" name="q" title="Search for:" >
    </label>


    {% if search_model_choices %}
        {% if search_model_choices|length == 1 %}
            <input type="hidden" name="type" value="{{ search_model_choices.0.1 }}">
        {% else %}
            <div class="form-group">
                <select class="form-control" name="type">
                    <option value="">{% trans "Everything" %}</option>
                    {% for verbose_name, model in search_model_choices %}
                        <option value="{{ model }}"
                                {% if model == request.REQUEST.type %}selected{% endif %}>
                            {{ verbose_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    {% endif %}


</form>
