{% load i18n mezzanine_tags comment_tags %}
<div id="comments" class="comments-area">
    <h2 class="comments-title">
        {% blocktrans count comments_count=object_for_comments.comments_count %}
            {{ comments_count }} thought{% plural %}{{ comments_count }} thoughts
        {% endblocktrans %} on
        “<span>{{ object_for_comments.title }}</span>”
    </h2>
    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
        {% include "generic/includes/disqus_comments.html" %}
    {% else %}
        <script>
            $(function () {
                $('.reply').click(function () {
                    $('.comment-reply-form').hide();
                    $(this).siblings('.comment-reply-form').toggle();
                });
            });
        </script>
        <style>.input_id_honeypot {
            display: none !important;
        }</style>
        <ol class="comment-list">
        {% comment_thread object_for_comments %}
        </ol>
        <div id="respond" class="comment-respond">
        <h3 class="comment-reply-title">{% trans "Leave a Reply" %}</h3>
        <form method="post" id="comment" class="comment-form" action="{{ comment_url }}#comment">
            <p class="comment-notes">Your email address will not be published. Required fields are marked <span
                class="required">*</span></p>
            {% if not request.POST.replied_to %}
                {% fields_for posted_comment_form %}
            {% else %}
                {% fields_for unposted_comment_form %}
            {% endif %}
            <p class="form-submit">
                <input class="btn btn-primary btn-lg" type="submit" value="{% trans "Post Comment" %}">
            </p>
        </form>
        </div>
    {% endif %}
</div>
