{% load socialaccount %}

<div class="modal fade" id="comment_login" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h1>Sign In</h1>
                <p>
                    Get more than ever out of {{ settings.SITE_TITLE }}.
                </p>
                <p>
                    Build your own personal story stream, participate in discussions, easily share your favorite stories, and connect with what your friends are sharing.
                </p>
                <p>
                    Just select your favorite social network to get started.
                </p>
                <div id="social-icons">
                    <a href='{% provider_login_url "facebook" method="oauth2" next=request.get_full_path %}#comment'><i class="fa fa-facebook-square"></i></a></li>
                    <a href='{% provider_login_url "twitter" method="oauth2" next=request.get_full_path %#comment}'><i class="fa fa-twitter"></i></a></li>
                    <a href='{% provider_login_url "google" method="oauth2" next=request.get_full_path %}#comment'><i class="fa fa-google-plus"></i></a></li>
                    <a href='{% provider_login_url "linkedin" method="oauth2" next=request.get_full_path %}#comment'><i class="fa fa-linkedin-square"></i></a></li>
                </div>
            </div>

    </div>
  </div>
</div>

{% comment %}<a href="#" class="btn btn-lg btn-success"
   data-toggle="modal"
   data-target="#comment_login">Click to open Modal</a>
{% endcomment %}

{% comment %}
    vertical center script to place modal in the middle of screen
{% endcomment %}
<script>
    $('.modal').on('shown.bs.modal', function() {
    $(this).find('.modal-dialog').css({
        'margin-top': function () {
            return ($(this).outerHeight() / 2);
        }
    });
});
</script>
{% comment %}
login on click textarea, prevents to sending post without login
{% endcomment %}
{% if not request.user.is_authenticated %}
    <script>
        $(document).on('ready', function(){

            $(body).on('click', '.nicEdit-main', function(){
               $('#comment_login').modal('show');
            });

        });
    </script>
{% endif %}