{% load i18n %}
<footer id="colophon" class="site-footer" role="contentinfo">
    <div id="secondary" class="sidebar-container" role="complementary">
        <div class="widget-area">
            <aside id="meta-2" class="widget widget_meta"><h3 class="widget-title">Tania szafa - zabawa modą</h3>
                <ul>
{#                    <li>ul. Młynarska 37 Warszawa</li>#}
{#                    <li><i class="fa  fa-phone"> 731 892 996</i></li>#}
                    <li><i class="fa fa-envelope"> zabawamodapoczta@gmail.com</i></li>

                </ul>
            </aside>
            <aside id="my_popula_posts-3" class="widget widget_my_popula_posts"><h3 class="widget-title">Popularne </h3>
                <ul>
                    {% include 'pages/menus/footer_top_psots.html' %}
                </ul>
            </aside>
            <aside id="archives_footer" class="widget widget_archive">
                {% include 'pages/menus/footer_archives.html' %}
            </aside>
        </div>
        <!-- .widget-area -->
    </div>
    <!-- #secondary -->
    <div class="site-info">
        <p>made by Mateuszek
    </div>
</footer>






