<footer id="colophon" class="site-footer" role="contentinfo">
        <div id="secondary" class="sidebar-container" role="complementary">
            <div class="widget-area">
                <aside id="meta-2" class="widget widget_meta"><h3 class="widget-title">Meta</h3>
                    <ul>
                        <li><a href="http://demo.themingstrap.com/mashthirteen/wp-login.php">Log in</a></li>
                        <li><a href="http://demo.themingstrap.com/mashthirteen/feed/"
                               title="Syndicate this site using RSS 2.0">Entries <abbr
                                title="Really Simple Syndication">RSS</abbr></a></li>
                        <li><a href="http://demo.themingstrap.com/mashthirteen/comments/feed/"
                               title="The latest comments to all posts in RSS">Comments <abbr
                                title="Really Simple Syndication">RSS</abbr></a></li>
                        <li><a href="https://wordpress.org/"
                               title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a>
                        </li>
                    </ul>
                </aside>
                <aside id="my_popula_posts-3" class="widget widget_my_popula_posts"><h3 class="widget-title">Popular
                    Posts</h3>
                    <ul>
                        <li>

                            <h3>
                                <a href="http://demo.themingstrap.com/mashthirteen/2013/08/06/pros-and-cons-of-long-distance-relationships/">Pros
                                    and Cons of Long Distance Relationships</a></h3>
                            <span>06 Aug , 2013</span>
                        </li>
                        <li>

                            <h3>
                                <a href="http://demo.themingstrap.com/mashthirteen/2013/07/11/how-to-make-your-cover-letter-more-impressive/">How
                                    to Make Your Cover Letter More Impressive</a></h3>
                            <span>11 Jul , 2013</span>
                        </li>
                        <li>

                            <h3>
                                <a href="http://demo.themingstrap.com/mashthirteen/2013/06/11/the-ancient-discipline-of-yoga-brings-both-strength-flexibility-into-your-body/">The
                                    ancient discipline of yoga brings both strength &amp; flexibility into your
                                    body.</a>
                            </h3>
                            <span>11 Jun , 2013</span>
                        </li>
                        <li>

                            <h3>
                                <a href="http://demo.themingstrap.com/mashthirteen/2013/07/23/5-casual-outfit-ideas-for-men-for-the-perfect-holiday-outings/">5
                                    Casual Outfit Ideas for Men for the Perfect Holiday Outings</a></h3>
                            <span>23 Jul , 2013</span>
                        </li>
                        <li>

                            <h3>
                                <a href="http://demo.themingstrap.com/mashthirteen/2013/07/26/how-to-pay-tax-online-in-india/">How
                                    to pay tax online in india</a></h3>
                            <span>26 Jul , 2013</span>
                        </li>
                    </ul>
                </aside>
                <aside id="archives-2" class="widget widget_archive"><h3 class="widget-title">Archives</h3>
                    <ul>
                        <li><a href='http://demo.themingstrap.com/mashthirteen/2013/08/'>August 2013</a></li>
                        <li><a href='http://demo.themingstrap.com/mashthirteen/2013/07/'>July 2013</a></li>
                        <li><a href='http://demo.themingstrap.com/mashthirteen/2013/06/'>June 2013</a></li>
                    </ul>
                </aside>
                <aside id="categories-2" class="widget widget_categories"><h3 class="widget-title">Categories</h3>
                    <ul>
{#                        TODO CATEGORIES#}
                        <li class="cat-item cat-item-14"><a
                                href="http://demo.themingstrap.com/mashthirteen/category/yoga-fitness/"
                                title="View all posts filed under Yoga &amp; Fitness">Yoga &amp; Fitness</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- .widget-area -->
        </div>
        <!-- #secondary -->
        <div class="site-info">
            <p>Theme by <a href="http://themingstrap.com/" title="Wordpress theme">ThemingStrap</a>. Proudly powered by
                <a href="http://wordpress.org/" title="Semantic Personal Publishing Platform">WordPress</a></p>
        </div>
    </footer>