<div id="navbar" class="navbar navbar-fixed-top">
        <div class="nav-middle">
             <div class="navbar-header">
                <a class="navbar-brand" href="index.html" title="Mashthirteen Pro" rel="home">
                    {{ settings.SITE_TITLE }}</a>
            </div>
            <div class="dropdown searchtoggel">
                <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-search"></i><i class="fa fa-plus"></i>Share</a>

                <div class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                    <form role="search" method="get" class="search-form"
                          action="http://demo.themingstrap.com/mashthirteen/">
                        <label>
                            <span class="screen-reader-text">Search for:</span>
                            <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s"
                                   title="Search for:"/>
                        </label>
                        <input type="submit" class="search-submit" value="Search"/>
                    </form>
                    <div id="social">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="gplus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-rss"></i></a>
                        <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>

                </div>
            </div>
            <nav id="site-navigation" class="navigation" role="navigation">
                <a class="screen-reader-text skip-link" href="#content" title="Skip to content">Skip to content</a>

                <div class="menu-mainmenu-container">
                    <ul id="menu-mainmenu" class="nav-menu">
                        <li id="menu-item-214"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-214"><a
                                href="category/business/index.html">Business</a></li>
                        <li id="menu-item-219"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-219">
                            <a href="category/lifestyle/index.html">Lifestyle</a>
                            <ul class="sub-menu">
                                <li id="menu-item-225"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-225"><a
                                        href="category/arts-entertainment/index.html">Arts &#038; Entertainment</a></li>
                                <li id="menu-item-224"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-224"><a
                                        href="category/foods-cuisine/index.html">Foods &#038; Cuisine</a></li>
                                <li id="menu-item-230"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-230"><a
                                        href="category/health-tips-2/index.html">Health Tips</a></li>
                                <li id="menu-item-218"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-218"><a
                                        href="category/yoga-fitness/index.html">Yoga &#038; Fitness</a></li>
                                <li id="menu-item-217"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-217"><a
                                        href="category/relationships-family/index.html">Relationships &#038; Family</a>
                                </li>
                                <li id="menu-item-223"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-223"><a
                                        href="category/career/index.html">Career</a></li>
                                <li id="menu-item-215"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-215"><a
                                        href="category/holidays-celebrations/index.html">Holidays &#038;
                                    Celebrations</a></li>
                            </ul>
                        </li>

                        <li id="menu-item-227"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-227">
                            <a href="category/internet-technology/index.html">Internet &#038; Technology</a>
                            <ul class="sub-menu">
                                <li id="menu-item-216"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-216"><a
                                        href="category/mobile/index.html">Mobile</a></li>
                                <li id="menu-item-226"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-226"><a
                                        href="category/gadgets-and-electronics/index.html">Gadgets and electronics</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-228"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-228"><a
                                href="disclaimer/index.html">Disclaimer</a></li>
                        <li id="menu-item-229"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-229"><a
                                href="privacy-policy/index.html">Privacy Policy</a></li>
                    </ul>
                </div>


            </nav>
{#            <div class="navbar-collapse collapse">#}
{#                {% search_form "all" %}#}
{#                {% page_menu "pages/menus/dropdown.html" %}#}
{#            </div>#}
        </div>
    </div>