{% load pages_tags %}
{% load mezzanine_tags %}
{% load static %}
<h1>{% with get_categories  as categories %}
    {% for category in categories %}
        <h2>{{ category.title }}!</h2>
    {% endfor %}

{% endwith %}</h1>
<div id="navbar" class="navbar navbar-fixed-top">
    <div class="nav-middle">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" title="{{ settings.SITE_TITLE }}" rel="home">
                {{ settings.SITE_TITLE }}</a>
        </div>
        <div class="dropdown searchtoggel">
            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown"><i
                    class="fa fa-search"></i><i class="fa fa-plus"></i>Udostępnij</a>
            <div class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                {% search_form %}
                <div id="social">
                    <a class="facebook"
               onclick="mashFbSharrer(window.location.hostname, 'Tania szafa - Zabawa modą', 'Blog ten poświęcony jest modzie. Chcę razem z wami szukać fajnych ubrań i dołożyć wszelkich starań aby te ubrania znalazły się na wieszkach mojego sklepu w niskich cenach, dostępne dla każdej w Was! To jak? Zaczynamy ?',
                       window.location.hostname+'{% static 'img/esti_blog.png' %}',520,350)"
               href="javascript:return(0);"><i class="fa fa-facebook"></i></a>
            <a class="twitter"
               onclick="javascript:mashTwSharrer(window.location.hostname, 'Tania szafa - Zabawa modą', 'Blog ten poświęcony jest modzie. Chcę razem z wami szukać fajnych ubrań i dołożyć wszelkich starań aby te ubrania znalazły się na wieszkach mojego sklepu w niskich cenach, dostępne dla każdej w Was! To jak? Zaczynamy ?',
                       window.location.hostname+'{% static 'img/esti_blog.png' %}', 520, 350)"
            "="" href="javascript:return(0)"><i class="fa fa-twitter"></i></a>

            <a class="gplus"
               onclick="javascript:mashGpSharrer(window.location.hostname, 'Tania szafa - Zabawa modą', 'Blog ten poświęcony jest modzie. Chcę razem z wami szukać fajnych ubrań i dołożyć wszelkich starań aby te ubrania znalazły się na wieszkach mojego sklepu w niskich cenach, dostępne dla każdej w Was! To jak? Zaczynamy ?',
                       window.location.hostname+'{% static 'img/esti_blog.png' %}', 520, 350)"
            "="" href="javascript:return(0)"><i class="fa fa-google-plus"></i></a>

            <a class="linkdeni"
               onclick="javascript:mashLdSharrer(window.location.hostname, 'Tania szafa - Zabawa modą', 'Blog ten poświęcony jest modzie. Chcę razem z wami szukać fajnych ubrań i dołożyć wszelkich starań aby te ubrania znalazły się na wieszkach mojego sklepu w niskich cenach, dostępne dla każdej w Was! To jak? Zaczynamy ?',
                       window.location.hostname+'{% static 'img/esti_blog.png' %}', 520, 350)"
            "="" href="javascript:return(0)"><i class="fa fa-linkedin"></i></a>

            <a class="pinterest"
               onclick="javascript:mashPiSharrer(window.location.hostname, 'Tania szafa - Zabawa modą', 'Blog ten poświęcony jest modzie. Chcę razem z wami szukać fajnych ubrań i dołożyć wszelkich starań aby te ubrania znalazły się na wieszkach mojego sklepu w niskich cenach, dostępne dla każdej w Was! To jak? Zaczynamy ?',
                       window.location.hostname+'{% static 'img/esti_blog.png' %}', 520, 350)"
            "="" href="javascript:return(0)"><i class="fa fa-pinterest "></i></a>
                </div>
            </div>
        </div>
        <nav id="site-navigation" class="navigation" role="navigation">
            <a class="screen-reader-text skip-link" href="#content" title="Skip to content"> Przejdz</a>

            <div class="menu-mainmenu-container">
                <ul id="menu-mainmenu" class="nav-menu">
                    {% include 'pages/menus/category_submenu.html' %}
                    {% page_menu "pages/menus/pages_as_submenu.html" %}
                </ul>
            </div>


        </nav>
    </div>
</div>