{% load mezzanine_tags %}
{% load custom_blog_tags %}
<div class="sidebarheadline">O nas</div>
<div class="sidebar-inner">


    <div class="widget-area">
        <aside id="my_popula_posts-2" class="widget widget_my_popula_posts">
            Tania szafa <br/>
            Warszawa cos tam <br/>

            TUTAJ MAPA ?<br/>
            telefon <br/>
            email <br/>
            godziny otwarcia <br/>
            zdjecie sklepu ?
            Zapraszamy!

        </aside>
    </div>
    <!-- .widget-area -->
</div>
